<% include theme/header %>
<div id="profile">
	<input type="submit" value="<% if (role===10) {roleTitle="Administrator";roleType="5";}	else {roleTitle="General User";roleType="10";} %><%= roleTitle %>" id="role" class="tag" />
	<h1><%= alias %></h1>
	<h3><%= firstName %> <%= lastName %></h3>
	<a href="mailto:<%= email %>"><%= email %></a>
	<p><b>Level:</b> <%= lvl %></p>
	<p><b>XP:</b> <%= xp %></p>
	<p><b>Kudos:</b> <%= kudos %></p>
	<% if (tags) { %>
	<div id="tags"><b>Tags:</b> <span><%= tags %></span></div>
	<% } %>
	<p style="font-size:0.85em"><b>Last Updated:</b><br/><%= updatedOn %></p>
	<p style="font-size:0.85em"><b>Joined On:</b><br/><%= createdOn %></p>
</div>

<script>      console.log('user.firstname: ' + user.firstname + ' | user.lastname: ' + user.lastname + ' | user.alias: ' + user.alias);

	let roleType = <%= role %>;
	const roleEl = document.querySelector('#role');

	function roleTitle() {
		if (roleType === 10) {
			roleType = 5;
			roleEl.value = "Administrator";
			console.log(<%= role %> + ": Administrator");
		} else if (roleType !== 10) {
			roleType = 10;
			roleEl.value = "General User";
			console.log(<%= role %> + ": General User");
		}
	};

	roleEl.addEventListener('click', (e) => {
		return roleTitle();
	});

</script>

<% include theme/footer %>